// #58402c = + o - marrone
$textColorPrimary: #58402c;
// #263972 = + o - blu
$textColorSecondary: #263972;
// #ffe7d2 = + o - rosa
$backgroundColor: #ffe7d2;
// #bdb5af = grigino
$borderColor: #bdb5af;
// font-size h3
$fontH3: 26px;
